<head>
    <title></title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
           
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyWlBaXT-bCb-we-lwvPtsALwdUCcRtDT0PA&usqp=CAU" class="logo">
            <div class="logo"></div>
            <ul>
                <li><a  routerLink="/flightList">Flights</a></li>
                <li><a routerLink="/searching">Search Flights</a></li>
                <li><a  routerLink="/login">Login</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>Your Ticket to Explore the World</h1>
            <br><br>
            <p>Discover the world at your fingertips. Our flight booking service <br>
                 opens doors to global destinations. making travel dreams a reality<br>
                            with convenience and ease. </p>
        </div>
    </div>
</body>